"*":
  "atom-ide-ui":
    hyperclick:
      darwinTriggerKeys: "ctrlKey,metaKey"
      linuxTriggerKeys: "shiftKey,metaKey"
  "build-cmake":
    buildDirectory: "$PROJECT_DIR/build"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "ide-cpp"
      "ide-vue"
      "ide-clangd"
      "emmet"
      "ide-typescript"
      "language-styled-jsx"
      "svn"
      "todo"
      "project-plus"
      "language-lua"
      "language-cmake"
      "language-blade"
      "dbg"
      "dbg-gdb"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 24
    tabLength: 4
  "exception-reporting":
    userId: "cdeb6f04-3aa3-4689-8b31-a14b67c6e2fa"
  "ide-clangd": {}
  "project-plus":
    projectHome: "/mnt/bender"
  "tree-view": {}
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".html.text.vue":
  editor:
    softWrap: true
